@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-none::-webkit-scrollbar {
    display: none;
}
.scrollbar-none {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
.messages-container {
    overflow: hidden;
}

.messages-container::-webkit-scrollbar {
    display: none;
}

.messages-container {
    scrollbar-width: none;
}

.messages-container {
    -ms-overflow-style: none;
}

.messages-container {
    overflow-y: scroll; 
    scrollbar-width: none;
}

.messages-container::-webkit-scrollbar {
    display: none; 
}
